.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: -2;
}

.shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(24px);
    z-index: 1;
}

.ar-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    overflow: hidden;
}
