@import "reset";
@import "fonts";
@import "ar-content";

*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    width: 100%;
    font-family: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: "ss03" 1, "ss04" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    overflow: hidden;

    --text: #1d1d1d;
    --accent: #f5c592;
    --green: #2db883;
    --red: #eb5757;
    --background: rgba(255,255,255,.6);

    --border-radius-large: 24px;
    --border-radius-small: 8px;
}

body {
    background: #000;
}

main {
    position: fixed;
    top: 24px;
    right: 24px;
    bottom: 24px;
    width: 100%;
    max-width: 30vw;
    min-width: 384px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    background: var(--background);
    border-radius: var(--border-radius-large);
    backdrop-filter: blur(24px);
    z-index: 2;
    user-select: none;
    backface-visibility: hidden;
    transition: top .3s ease, max-width .3s ease;

    &.expanded {
        max-width: 50vw;

        .expand {
            transform: rotate(-90deg);
        }
    }

    .content {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;

        .headline {
            display: flex;
            align-items: center;

            h1 {
                flex: 1;
            }

            .page {
                display: flex;
                gap: 4px;
                padding: 8px 12px;
                font-size: 18px;
                font-weight: 500;
                color: var(--accent);
                background: var(--text);
                border-radius: var(--border-radius-large);
            }
        }

        .body {
            margin-top: 12px;
            flex: 1;
            overflow-y: auto;
        }
    }
}

h1 {
    margin: 4px 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    margin: 0 0 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}

p {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 1.5;
}

img {
    max-height: 384px;
    max-width: 100%;
    display: block;
    margin: 24px auto 0;
    border-radius: var(--border-radius-small);
}

button {
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    background: var(--accent);
    border-radius: var(--border-radius-small);
    cursor: pointer;

    &.secondary {
        background: transparent;
        box-shadow: inset 0 0 0 1px var(--text);
    }

    &[disabled] {
        opacity: .5;
        cursor: default;
    }

    img {
        height: 16px;
        width: 16px;
        margin: 0;
    }
}

.buttons {
    display: flex;
    justify-content: stretch;
    gap: 12px;
    margin-top: 12px;
}

.status {
    position: fixed;
    top: 24px;
    left: 24px;
    color: var(--text);
    border-radius: var(--border-radius-large);
    font-size: 20px;
    font-weight: 500;
    padding: 14px 18px;
    z-index: 3;
    backface-visibility: hidden;

    &.green {
        background-color: var(--green);
    }

    &.red {
        background-color: var(--red);
    }
}

.expand {
    position: absolute;
    top: 12px;
    left: -60px;
    height: 48px;
    width: 48px;
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    border-radius: var(--border-radius-large);
    backdrop-filter: blur(24px);
    transform: rotate(90deg);
    transition: all .3s ease;
    cursor: pointer;

    img {
        margin: 0;
    }
}

.frame {
    min-height: 1000px;
    min-width: 1000px;
    padding: 48px 64px;
    font-size: 250px;
    font-family: sans-serif;
    color: #fff;
    background: rgba(85,138,122,.1);
    border: #fff solid 50px;
    border-radius: 100px;
    transition: min-height .1s ease, min-width .1s ease;
}

@media only screen and (max-width: 768px) {
    main {
        top: 50vh;
        right: 16px;
        bottom: 16px;
        left: 16px;
        height: auto;
        min-width: auto;
        max-width: calc(100% - 32px);

        &.expanded {
            top: 80px;
            max-width: calc(100% - 32px);

            .expand {
                transform: rotate(0deg);
            }
        }
    }

    .expand {
        top: -64px;
        right: 0;
        left: auto;
        transform: rotate(180deg);
    }

    .status {
        top: 16px;
        left: 16px;
    }
}

@media only screen and (min-width: 513px) {
    body {
        *::-webkit-scrollbar {
            height: 16px;
            width: 16px;
        }
    
        *::-webkit-scrollbar-thumb {
            height: 64px;
            width: 64px;
            background-color: rgba(29,29,29,.5);
            border: 5px solid rgba(0,0,0,0);
            background-clip: padding-box;
            -webkit-border-radius: 8px;
        }
        
        *::-webkit-scrollbar-button {
            height: 0;
            width: 0;
            display: none;
        }
        *::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}
