@import "reset";
@import "fonts";
@import "ar-content";

*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    width: 100%;
    font-family: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: "ss03" 1, "ss04" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    overflow: hidden;

    --text: #1d1d1d;
    --accent: #f5c592;
    --green: #2db883;
    --red: #eb5757;
    --background: rgba(255,255,255,.6);

    --border-radius-large: 24px;
    --border-radius-small: 12px;
}

body {
    background: #000;
    user-select: none;
}

main {
    position: fixed;
    right: 24px;
    bottom: 24px;
    height: 100%;
    max-height: 218px;
    width: 50vw;
    max-width: 384px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: var(--background);
    border-radius: var(--border-radius-large);
    backdrop-filter: blur(24px);
    z-index: 2;
    backface-visibility: hidden;
    transition: max-height .3s ease, max-width .2s ease;
    will-change: max-height;

    &.expanded {
        max-height: calc(100% - 112px);
        max-width: 1024px;
        min-width: 512px;

        .content {
            .body {
                overflow-y: auto;
            }

            .map {
                overflow: auto;
            }
        }

        .expand {
            transform: rotate(0);
        }
    }

    .content {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;

        .headline {
            display: flex;
            align-items: center;

            h1 {
                flex: 1;
            }

            .page {
                display: flex;
                gap: 4px;
                padding: 8px 12px;
                font-size: 18px;
                font-weight: 500;
                color: var(--accent);
                background: var(--text);
                border-radius: var(--border-radius-large);
            }
        }

        .body {
            margin-top: 12px;
            flex: 1;
            overflow: hidden;

            &.map {
                margin: 0 -24px;
                padding: 0 24px;
                display: flex;
                align-items: center;

                .map-content {
                    position: relative;
                    
                    img {
                        max-height: none;
                        min-width: 512px;
                    }

                    .pin {
                        position: absolute;
                        top: calc(90% - 12px);
                        left: calc(89% - 12px);
                        height: 24px;
                        width: 24px;
                        background-color: var(--accent);
                        border-radius: 50%;
                        box-shadow: 0 0 0 0 rgba(245,197,146,1);
                        transition: all .2s ease;
	                    animation: pulse 2s infinite;
                    }

                    @keyframes pulse {
                        0% {
                            box-shadow: 0 0 0 0 rgba(245,197,146,.7);
                        }
                        70% {
                            box-shadow: 0 0 0 10px rgba(245,197,146,0);
                        }
                        100% {
                            box-shadow: 0 0 0 0 rgba(245,197,146,0);
                        }
                    }
                }
            }
        }
    }
}

h1 {
    margin: 4px 0;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 1.2;
}

h2 {
    margin: 0 0 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}

p {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 1.5;
}

img {
    max-height: 512px;
    max-width: 100%;
    display: block;
    margin: 32px auto 0;
    border-radius: var(--border-radius-small);

    &.inline {
        display: inline-block;
        margin: 0 2px;
        vertical-align: bottom;
        border-radius: 2px;
    }
}

button {
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    background: var(--accent);
    border-radius: var(--border-radius-large);
    cursor: pointer;

    &.secondary {
        background: transparent;
        box-shadow: inset 0 0 0 1px var(--text);
    }

    &[disabled] {
        opacity: .5;
        cursor: default;
    }

    img {
        height: 16px;
        width: 16px;
        margin: 0;
    }
}

.buttons {
    min-width: 256px;
    display: flex;
    justify-content: stretch;
    align-self: flex-end;
    gap: 12px;
    margin-top: 12px;
}

.info {
    position: fixed;
    top: 24px;
    left: 24px;
    display: flex;
    gap: 12px;
    z-index: 3;
    backface-visibility: hidden;
}

.status {
    padding: 14px 18px;
    color: var(--text);
    border-radius: var(--border-radius-large);
    font-size: 20px;
    font-weight: 500;

    &.green {
        background-color: var(--green);
    }

    &.red {
        background-color: var(--red);
    }
}

.marker {
    position: fixed;
    top: auto;
    bottom: 24px;
    left: 24px;
    height: 96px;
    width: 96px;
    padding: 12px;
    background: white;
    border-radius: var(--border-radius-large);
    overflow: hidden;
    
    img {
        margin: 0;
    }
}

.expand {
    position: absolute;
    top: -64px;
    right: 0;
    height: 48px;
    width: 48px;
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent);
    border-radius: var(--border-radius-large);
    transform: rotate(180deg);
    transition: all .1s ease;
    z-index: 2;
    cursor: pointer;

    img {
        margin: 0;
    }
}

.frame {
    display: block;
    min-height: 1000px;
    min-width: 1000px;
    padding: 48px 64px;
    font-size: 250px;
    font-family: sans-serif;
    color: var(--text);
    background: rgba(90, 90, 90, 0.1);
    border: 48px solid var(--accent);
    border-radius: 100px;
    transition: min-height .1s ease, min-width .1s ease;
}

@media only screen and (max-width: 768px) {
    main {
        right: 16px;
        bottom: 16px;
        left: 16px;
        width: auto;
        max-width: auto;
        min-width: auto;
        padding: 24px;

        &.expanded {
            max-height: calc(100% - 96px);
            min-width: auto;
        }
    }

    img {
        max-height: 384px;
    }

    .buttons {
        align-self: center;
    }

    .expand {
        top: -64px;
        right: 0;
        transform: rotate(180deg);
    }

    .info {
        top: 16px;
        left: 16px;
    }

    .marker {
        top: 16px;
        bottom: auto;
        left: 141px;
        height: 48px;
        width: 48px;
        padding: 4px;
    }
}

@media only screen and (min-width: 513px) {
    body {
        *::-webkit-scrollbar {
            height: 16px;
            width: 16px;
        }
    
        *::-webkit-scrollbar-thumb {
            height: 64px;
            width: 64px;
            background-color: rgba(29,29,29,.5);
            border: 5px solid rgba(0,0,0,0);
            background-clip: padding-box;
            -webkit-border-radius: 8px;
        }
        
        *::-webkit-scrollbar-button {
            height: 0;
            width: 0;
            display: none;
        }
        *::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}
